<div class="foot">
    <div class="container main">
        <div class="main-top">
            <div class="main-top__left">
                <img src="assets/images/mat.gif" alt="logo" />
                <p class="mt-3">
                    Accelerate innovation with world-class tech teams We’ll match you to an entire remote team of incredible freelance talent.
                </p>
            </div>

            <div class="main-top__right">
                <div class="main-top__right___child">
                    <p class="mb-3">Company</p>
                    <div class="main-top__right___child____items">
                        <a>Products</a>
                        <a>Services</a>
                        <a>About Us</a>
                        <a>Contact Us</a>
                        <a>Blog</a>
                        <a>Membership</a>
                    </div>
                </div>

                <div class="main-top__right___child">
                    <p class="mb-3">Legal</p>
                    <div class="main-top__right___child____items">
                        <a>Terms of Use</a>
                        <a>Privacy Policy</a>
                        <a>Legal Disclaimers</a>
                        <a>FAQs</a>
                        <a>Support</a>
                    </div>
                </div>

                <div class="main-top__right___child">
                    <p class="mb-3">Contact Information</p>
                    <div class="main-top__right___child____items">
                        <a>16 Balogun St, Allen 101233, Ikeja, Lagos</a>
                        <a>opelium@gmail.com</a>
                        <a>+234 813 091 2452</a>
                        
                    </div>
                </div>

            </div>
        </div>

        <div class="main-bottom">
            <p class="mb-0">© 2023 All rights reserved.</p>
        </div>
    </div>
</div>