<div class="container ">
    <div class="title">
        <h1 class="title">Benefits of signing up.</h1>
        <p class="title">We offer a lot of amazing services</p>
    </div>

    <div class="card1">
        <img src="assets/images/Frame 1618868436.png" alt="">
        <h1>Training.</h1>
        <p>Empowering students with
            the tools to innovate and
            become globally relevant in the 21st Century
            through our transformative trainings.
        </p>
        <button>Learn More >></button>
    </div>
    <div class="card2">
        <img src="assets/images/Frame 1618868437.png" alt="">
        <h1>Discount <br> Purchase.</h1>
        <p>We provide discount
            purchase on edible items.
            With your Card, you
            have the opportunity to buy
            edible items at a very discounted amount.
        </p>
        <button>Learn More >></button>
    </div>
    <div class="grasal">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card left">
                    <div class="card-body">
                        <img src="assets/images/Frame 1618868441.png" alt="...">

                        <h3 class="card-title">Educational grants and loans <span>.</span></h3>
                        <p class="card-text">
                            Our educational grants and loans
                            are special funding to support students,
                            we hope to fund at least 3,000 students
                            in Nigeria
                        </p>
                        <button class="btn-custom">Learn More >></button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card right">
                    <div class="card-body">
                        <img src="assets/images/Frame 1618868441 (1).png" alt="...">
                        <h3 class="card-title">Salary loans and household appliances<span>.</span></h3>
                        <p class="card-text">
                            We provide an easy and quick way
                            to get access to loans and the
                            purchase of household items.
                        </p>

                        <button class="btn-custom">Learn More >></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>