<div class="customer">
    <div class="container part1">
        <h1>Our esteemed students have this to say<span class="primarycol">.</span></h1>
        <div class="textbg" [@fade]="status" *ngIf="count == 1">
            <p><img src="assets/images/“.png" alt=""> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum
                ipsam dolorem, impedit dolores iste sunt minus suscipit amet ab. Adipisci magnam tenetur non porro
                reiciendis neque, maiores et illum sapiente, ipsa laborum dolorem impedit numquam! Consequuntur, modi!
                Quos esse praesentium magnam facilis nemo perferendis cum harum sunt, quia dignissimos sit.
                <img src="assets/images/“ (1).png" alt="">
            </p>
        </div>
        <div class="textbg" [@fade]="status" *ngIf="count == 2">
            <p><img src="assets/images/“.png" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eum ullam explicabo delectus sed.
                Voluptas labore officia, eveniet sint veniam eum incidunt obcaecati, at recusandae, illum blanditiis
                dolor beatae? Consequatur dignissimos, eius, vel doloribus magni asperiores velit accusantium iusto non
                impedit reiciendis dolorem, nobis officiis neque sapiente maxime. Magnam, tempora.
                <img src="assets/images/“ (1).png" alt="">
            </p>
        </div>
        <div class="textbg" [@fade]="status" *ngIf="count == 3">
            <p><img src="assets/images/“.png" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ut beatae architecto recusandae ipsa
                dignissimos veritatis, a iste voluptates magni tenetur nulla totam ex quam officia vel eius illo! Enim,
                dignissimos ducimus eum fugiat odit velit, nostrum animi nesciunt facilis a facere maxime iusto ab
                minima odio, laudantium pariatur explicabo.
                <img src="assets/images/“ (1).png" alt="">
            </p>
        </div>
    </div>


    <div class="container part2">
        <div class="image1">
            <div class="img1">
                <img src="{{images[0]}}" alt="">
            </div>
            <div class="imgtext">
                <h5>Damilola</h5>
                <p>Teacher</p>
            </div>
        </div>
        <div class="image2">
            <div class="middle">
                <img src="{{images[1]}}" alt="">
            </div>
            <div class="img2text">
                <h4>Mrs. Olayinka</h4>
                <p>Teacher</p>
            </div>
        </div>
        <div class="image1">
            <div class="img1">
                <img src="{{images[2]}}" alt="">
            </div>
            <div class="imgtext">
                <h5>Damilola</h5>
                <p>Teacher</p>
            </div>
        </div>
    </div>
    <div class="toggle">
        <svg (click)="toggle()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-0-circle" viewBox="0 0 16 16">
            <path
                d="M7.988 12.158c-1.851 0-2.941-1.57-2.941-3.99V7.84c0-2.408 1.101-3.996 2.965-3.996 1.857 0 2.935 1.57 2.935 3.996v.328c0 2.408-1.101 3.99-2.959 3.99M8 4.951c-1.008 0-1.629 1.09-1.629 2.895v.31c0 1.81.627 2.895 1.629 2.895s1.623-1.09 1.623-2.895v-.31c0-1.8-.621-2.895-1.623-2.895" />
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8" />
        </svg>
        <svg (click)="toggle()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-0-circle middle" viewBox="0 0 16 16">
            <path
                d="M7.988 12.158c-1.851 0-2.941-1.57-2.941-3.99V7.84c0-2.408 1.101-3.996 2.965-3.996 1.857 0 2.935 1.57 2.935 3.996v.328c0 2.408-1.101 3.99-2.959 3.99M8 4.951c-1.008 0-1.629 1.09-1.629 2.895v.31c0 1.81.627 2.895 1.629 2.895s1.623-1.09 1.623-2.895v-.31c0-1.8-.621-2.895-1.623-2.895" />
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8" />
        </svg>
        <svg (click)="toggle()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-0-circle" viewBox="0 0 16 16">
            <path
                d="M7.988 12.158c-1.851 0-2.941-1.57-2.941-3.99V7.84c0-2.408 1.101-3.996 2.965-3.996 1.857 0 2.935 1.57 2.935 3.996v.328c0 2.408-1.101 3.99-2.959 3.99M8 4.951c-1.008 0-1.629 1.09-1.629 2.895v.31c0 1.81.627 2.895 1.629 2.895s1.623-1.09 1.623-2.895v-.31c0-1.8-.621-2.895-1.623-2.895" />
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8" />
        </svg>
        <!-- <mat-icon (click)="toggle()">fiber_manual_record</mat-icon>
        <mat-icon (click)="toggle()" class="middle">fiber_manual_record</mat-icon>
        <mat-icon (click)="toggle()">fiber_manual_record</mat-icon> -->
    </div>

</div>